<section class="home">
  <div class="home__header-content">
    <section id="works" class="text-center">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h3 class="title">Bioequivalencia entre <%= @medicine.nombre.pluralize %></h3>
            <p class="slog">Lorem ipsum dolor sit amet ne onsectetuer adipiscing elit. Aenean commodo ligula eget dolor in tashin ty</p>
          </div>
        </div>
        <div class="row medicines">
          <%= render @prince.medicines %>
        </div>
      </div>
    </section>
  </div>
</section>
